/* =====================================================
   CHARTS
===================================================== */

#graficoPrecios{

    width:100%;

    min-height:450px;

}

.chart-container{

    padding:20px;

}