/* =====================================================
   FOOTER
===================================================== */

footer{

    margin-top:60px;

    background:#212529;

    color:white;

    text-align:center;

    padding:25px;

    font-size:15px;

}

footer a{

    color:#FFF;

}

footer a:hover{

    color:#0DCAF0;

}