body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

header {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background: #1e293b;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}